_vsvimrc
.DS_STORE

!.gitignore
!.vimrc
!_vimrc
!README.md

*.~
*.swp
*.swo

/vimfiles
/autoload
/bundle

/vim74/*
!/vim74/autoload
!/vim74/bundle/
!/vim74/gvimfullscreen.dll

/vim74/autoload/*
!/vim74/autoload/pathogen.vim
