.DS_STORE
.netrwhist
*~
*.swp
*.swo

vimrc.leader
vimrc.before
vimrc.custom
vimrc.plugins.custom
vimrc.after

lazy-lock.json

autoload/
moby-thesaurus/
plug/
sessions/
spell/
tmp/
